<% include ../partial/header %>
  <body>
    <header>
        <h1>Welcome to Fit-Frie's!</h1>
        <h1> <small>(A.k.A. Fitness Friends)</small> </h1>
        <p class="np">This wonderful app allows the beautiful You to find others with the same fitness goals!<br>No judgment here! This is a great place to find a mentor, mentee, or a new friend!</p>
    </header>
    <div class="homeContainer">
      <p class="hMessage">Please, sign in.</p>
      <a href="/home/login"><button type="button" name="button" class="homeB">Login!</button> </a>
      <a href="/home/signup"><button type="button" name="button" class="homeB">Sign up!</button> </a>
    </div>
  </body>
</html>
