<% include ../partial/header %>
  <body>
    <header style="text-align: center;">
        <h1>Feel free to browse through all the fritters!</h1>
    </header>
    <div class="homeContainer">

        <% data.forEach((dataU) => {%>
          <a href="./<%= dataU.id %>" class="fritLink"><p class="np"><%= dataU.username %></p></a>
        <%})%>

    </div>
    <footer style="text-align: center;">
      <h1>You can even find a new gym to work out in!</h1>
      <p class="wp">
        Just click <a href="/gyms">here!</a>
      </p>
    </footer>
  </body>
</html>
