<% include ../partial/header %>
  <body>
    <div class="wholeUserPage">

    <div class="userHeader">
      <div class="userImage">
        <a href="https://imgur.com/OKmv3y4"><img src="https://i.imgur.com/OKmv3y4s.jpg" title="source: imgur.com" /></a>
      </div>
      <div class="userName">
        <h1 class="hProfile"><%= fritterData.username %></h1>
      </div>
    </div>

    <div class="userBody">
      <a href="/fritters/:id/workouts"><h1 class="hMessage">Workouts!</h> </a>

        <div class="formContainer">
          <form class="" action="/fritters/<%= fritterData.id %>" method="post">
            <input type="text" name="title" placeholder="New Title" value="">
            <input type="text" name="content" placeholder="New Workout" value="">
            <button type="submit" name="button"> Post Your Workout! </button>
          </form>
        </div>
    </div>
    <div class="favGym">

    </div>

  </div>
  </body>
</html>
