<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Frit Frie's!</title>
    <link rel="icon" type="image/png" href="/client/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush|Josefin+Sans|Padauk|Roboto+Mono|Rye" rel="stylesheet">
    <link rel="stylesheet" href="/client/script/reset.css">
    <link rel="stylesheet" href="/client/style/style.css">
    <link rel="script" href="/client/main.js">
  </head>
